<div class="toplist_box" ng-controller="ToplistController">
    <h2>Toplisták</h2>
    <h3>Pontszámod barátaidhoz képest</h3>
    <ul class="toplist" ng-show="friend_score_list">
        <li ng-repeat="friend_score in friend_score_list">
            <div>{{friend_score.index + 1}}.
                <img ng-src="{{friend_score.profil_image}}" />
                <span>{{friend_score.name}}</span>
                <span class="score">
                    {{friend_score.score}}
                </span>
            </div>
        </li>
    </ul>
    <p ng-hide="friend_score_list">Nincs eredmény.</p>
    <share-facebook-button ng-show="friend_score_list" message="friend_score_list_post"></share-facebook-button>
    <hr>
    
    <h3>Mai toplistások</h3>
    <ul class="toplist" ng-show="daily_toplist">
        <li ng-repeat="daily in daily_toplist">
            <div>{{daily.index + 1}}
                <img ng-src="{{daily.profil_image}}" />
                <span>{{daily.name}}</span>
                <span class="score">
                    {{daily.score}}
                </span>
            </div>
        </li>
    </ul>
    <p ng-hide="daily_toplist">Nincs eredmény.</p>
    <share-facebook-button ng-show="daily_toplist" message="daily_toplist_post"></share-facebook-button>
    <hr>
    
    <h3>Ehavi toplistások</h3>
    <ul class="toplist" ng-show="monthly_toplist">
        <li ng-repeat="monthly in monthly_toplist">
            <div>{{monthly.index + 1}}
                <img ng-src="{{monthly.profil_image}}" />
                <span>{{monthly.name}}</span>
                <span class="score">
                    {{monthly.score}}
                </span>
            </div>
        </li>
    </ul>
    <p ng-hide="monthly_toplist">Nincs eredmény.</p>
    <share-facebook-button ng-show="monthly_toplist" message="monthly_toplist_post"></share-facebook-button>
    <modal-dialog show='modalShow' error-type="error" width='60%' height='60%'>
        {{modalMessage}}
    </modal-dialog>
</div>

<script src="/DG/public/js/angular/ToplistController.js" type="text/javascript" ></script>
<script src="/DG/public/js/angular/ModalDialogDirective.js" type="text/javascript" ></script>
<script src="/DG/public/js/angular/ShareFacebookButtonDirective.js" type="text/javascript" ></script>