<p>A mondatrészek minden nyelvben meghatározott sorrendben követik egymást. A német nyelvben a ragozott ige helye meghatározott, főmondatban mindig a második helyen áll, mellékmondatban a kötőszó jellegétől függően vagy az első (fordított szórend), vagy a második (egyenes szórend), vagy az utolsó helyen (KATI szórend -kötőszó, alany, többi mondatrész, ige). Ezeket a szórendeket vizsgáljuk meg egyenként.</p>

<h2>1. Főmondati szórend</h2>

<p>A főmondatban egyedül a ragozott igei állítmánynak van meghatározott helye, a többi mondatrész a mondat értelme és összefüggése alapján változtathatja a helyét. Mégis van bizonyos szabályszerűség, amely általában érvényes, de adott esetben érvényét vesztheti.</p>
<ul class="alphabet">
    <li>
        <h3>bármely mondatrész kiemelhető a mondat elejére. Ebben az esetben az alany a harmadik helyre kerül:</h3>

        <pre>Heute kann ich dich nicht besuchen.</pre>
    </li>
    <li>
        <h3>szabály szerint a részes határozó megelőzi a tárgyat:</h3>

        <pre>Der Schüler gibt dem Lehrer das Heft.</pre>

        Amennyiben névmás áll a határozó vagy a tárgy helyett, akkor az közvetlenül a ragozott ige után áll:

        <pre>Der Schüler gibt es dem Lehrer. vagy Der Schüler gibt ihm das Heft.</pre>
    </li>
    <li>
        <h3>Ha a tárgy és a határozó is névmás alakban áll, akkor a tárgyesetben álló névmás megelőzi a részes esetben lévő névmást:</h3>

        <pre>Der Schüler gibt es ihm.</pre>
    </li>
    <li>
        <h3>A határozó és a tárgy helye a mondatban:</h3>

        Bár erre sincs szigorú szabály, de általában elmondható, hogy a határozók az alábbi sorrendben állnak a német mondatban: idő-, ok-, mód- és helyhatározó.

        <pre>Mein Sohn ging heute Morgen wegen der Schularbeit sehr nervös zur Schule.</pre>

        Ha ezt a mondatot részes határozóval és tárggyal is kiegészítenénk, akkor a sorrend: időhatározó, részes határozó, ok-, módhatározó, tárgy, helyhatározó.

        <pre>Ich bringe morgen meinem Sohn wegen seiner guten Noten ein neues Buch nach Hause.</pre>
    </li>
</ul>
<h2>2. Mellékmondati szórend</h2>
<ul class="alphabet">
    <li>
        <h3>egyenes szórend van a következő kötőszavak után:</h3>
        <ul>
            <li>und - és: <pre>Er ging in den Keller und holte eine Flasche Bier.</pre></li>
            <li>sondern - hanem: <pre>Ich möchte heute nicht ins Kino gehen, sondern ich bleibe lieber zu Hause.</pre></li>
            <li>oder - vagy: <pre>Sie ist jetzt noch im Büro, oder sie ist schon unterwegs.</pre></li>
            <li>denn - mert: <pre>Ich besuche dich heute nicht, denn ich muss länger arbeiten.</pre></li>
            <li>aber - de: <pre>Ich mag diesen Film sehr, aber ich habe jetzt keine Lust ins Kino zu gehen.</pre></li>
        </ul>
    </li>
    <li>
        <h3>fordított szórend van az alábbi kötőszavak után:</h3>
        <ul>
            <li>darum, deshalb, deswegen, daher - ezért: <pre>Ich habe Zahnschmerzen, deshalb muss ich dringend zum Zahnarzt.</pre></li>
            <li>trotzdem, dennoch, allerdings - ennek ellenére: <pre>Er hat schreckliche Zahnschmerzen, trotzdem geht er nicht zum Zahnarzt.</pre></li>
            <li>folglich, also, so - ennek következtében, tehát, így: <pre>Er ging nicht zum Zahnarzt, folglich musste ihm ein Zahn gezogen werden.</pre></li>
            <li>dann, danach, daraufhin - akkor, aztán, arra fel: <pre>Er hatte schon Fieber, dann ging er endlich zum Arzt.</pre></li>
            <li>einerseits, andererseits - másrészt: <pre>Einerseits kann ich ihn verstehen, andererseits halte ich ihn für einen Angsthasen, weil er sich noch immer vor dem Zahnarzt fürchtet.</pre></li>
            <li>sonst - különben: <pre>Er hatte bestimmt große Angst, sonst wäre er schon längst zum Zahnarzt gegangen.</pre></li>
        </ul>
    </li>
    <li>
        <h3>KATI szórend van a következő kötőszavak után:</h3>
        <ul>
            <li>wenn, als -amikor</li>
            <li>wenn - ha</li>
            <li>während - miközben, solange - mialatt, bis - ameddig</li>
            <li>bevor - mielőtt, nachdem - miután, sobald - mihelyst</li>
            <li>seit - mióta</li>
            <li>weil, da - mivel</li>
            <li>dass - hogy</li>
        </ul>
        vonatkozó mellékmondatokban, a célhatározói mellékmondatokban és a kérdőszóval bevezetett mellékmondatokban (Ich weiß nicht, wie er nach Hause gekommen ist.).
    </li>
</ul>               